body {
  background-color: blanchedalmond;
}

h2 {
  text-align: center;
  font-family: Trebuchet MS;
}

nav {
  font-size: 1.4em;
}

table {
  font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
}

#island-pic {
  margin-left: 22%;
  border: 3px dashed teal;
}

.main-header {
  text-align: center;
  color: teal;
  font-family: Trebuchet MS;
  font-size: 1.2em;
}

#intro {
  text-align: center;
  color: coral;
  font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
}
.column-1 {
  display: inline-block;
  vertical-align: top;
  width: 45%;
  height: 200px;
  padding: 1%;
  background-color: darkseagreen;
}  

.column-2 {
  display: inline-block;
  vertical-align: top;
  width: 45%;
  height: 200px;
  background-color: darkseagreen;
  padding: 1%;
}