body {
  background-color: blanchedalmond;
}

h2 {
  text-align: center;
  font-family: Trebuchet MS;
}

nav {
  font-size: 1.4em;
}

table {
  font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
  background-image: url("sand.jpg");
  color: darkslategrey;
}

th {
  font-size: 1.2em;
}

footer {
  text-align: center;
  font-size: 1.2em;
}

#island-pic {
  margin-left: 22%;
  border: 3px dashed teal;
}

.main-header {
  text-align: center;
  color: teal;
  font-family: Trebuchet MS;
  font-size: 1.2em;
}

#intro {
  text-align: center;
  color: coral;
  font-size: 1.2em;
  font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
}
.column-1 {
  display: inline-block;
  vertical-align: top;
  width: 45%;
  height: 200px;
  padding: 1%;
  background-color: darkseagreen;
  color: darkslategrey;
}  

.column-2 {
  display: inline-block;
  vertical-align: top;
  width: 45%;
  height: 200px;
  background-color: darkseagreen;
  padding: 1%;
  color: darkslategrey;
}

a:link {
    color: lightseagreen;
}

a:visited {
    color: darkturquoise;
}

a:hover {
    color: coral;
}

a:active {
    color: blue;
}